---
export interface Props {
    specs: string[];
}

const { specs } = Astro.props as Props;
---

<div class="product-specs">
    <h2>specifications</h2>
    <ul>
        {specs.map((spec) => <li>{spec}</li>)}
    </ul>
</div>

<style>
    .product-specs {
        width: 100%;
        padding: 1em;
        text-align: center;
        border-right: 4px double black;
    }

    .product-specs ul {
        padding-left: 1.5rem;
    }
</style>
